//- Bannière 40 postes à pourvoir
mj-section(background-color='#684092' padding='0')
    mj-group(width='500px')

        mj-column(width='200px')
            mj-text(padding-right='8px' align='right' font-size='50px' font-weight='700' line-height='50px' color='#ffffff') +40 
        mj-column
            mj-text(padding-left='8px' align='left' font-size='16px' font-weight='500' line-height='20px' color='#ffffff') postes à pourvoir en alternance