- 
    const etudiantsList = [
            {
            'identite': 'Delphine D.',
            'formation': 'BTS Assurance',
            'apprentissage': 'Conseillère de clientèle en apprentissage chez notre partenaire AXA',
            'image' : 'https://i.ibb.co/xD5xk3d/icon-Entreprise.png'
        },

             {
            'identite': 'Pierre D.',
            'formation': 'BTS Assurance',
            'apprentissage': 'Chargé de clientèle en apprentissage chez notre partenaire Groupe Henner',
            'image': 'https://i.ibb.co/frZ2HWT/icon-Mission.png'
        },

            {
            'identite': 'Bernadette D.',
            'formation': 'BTS Assurance',
            'apprentissage': 'Conseillère de clientèle en apprentissage chez notre partenaire Crédit Agricole',
            'image': 'https://i.ibb.co/xD5xk3d/icon-Entreprise.png'
        }
    ]

mj-section
    mj-column(width='500px')
        mj-text(font-size='16px' font-weight='900' line-height='20px' text-transform='uppercase' color='#2D3748') Ils ont obtenu leur alternance
    //- mj-group(width='500px')
    mj-column(width='50px')
        each etudiant in etudiantsList
            mj-image(width='50px' padding-top='10px' padding-bottom='30px' src= etudiant.image)/
    mj-column(width='450px')
            mj-text(font-size='16px' font-weight='400', line-height='20px' color='#2D3748')
                    each etudiant in etudiantsList
                        ul(style='margin:0;list-style-type:none;padding:0;')
                            li(style='font-weight:900;color:#684092')= etudiant.identite
                            li= etudiant.formation
                            li(style='padding-bottom:10px;')= etudiant.apprentissage